
.app-title {
    text-align: center;
    font-size: 32px;
    line-height: 36px;
    color: #555;
}

#seats {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    border: 1px solid #ccc;
}
    .seats-row {
        flex: 1 1;
        display: flex;
        background: #f4f4f4;
        list-style: none;
        margin: 0;
        padding: 0;
    }
        .seats-row li {
            border: 1px solid #ccc;
            height: 30px;
            line-height: 30px;
            text-align: center;
            flex: 1 1;
            cursor: pointer;
        }
        .seats-row li[data-availability="1"] {
            background: #ff0000;
        }