<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>

    <link rel="stylesheet" href="{{ static_url("assets/css/style.css") }}">
</head>
<body>
    <h1 class="app-title">{{title}}</h1>
    <div id="seats">
        {% for seatRow in seats %}
        <ul class="seats-row">
            {% for seat in seatRow %}
            <li data-availability="{{seat}}"></li>
            {% end %}
        </ul>
        {% end %}
    </div>
    
    <script src="{{ static_url("assets/js/jquery-3.2.1.min.js") }}"></script>
    <script src="{{ static_url("assets/js/core.js") }}"></script>
    <script>
    let app = application("{{seats}}");
    </script>
</body>
</html>